<header class="header" [ngClass]="{'header-dark': isProjectsPage()}">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand d-flex align-items-center" routerLink="/">
        <img src="assets/profayra.png" alt="Profayra Logo" class="logo me-2">
        <span>PROFAYRA</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/projects" routerLinkActive="active">Proyectos</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/monitorias" routerLinkActive="active">Precios</a></li>
          <li class="nav-item">
            <a class="btn btn-outline-light" routerLink="/contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>