.hero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url("/assets/images/banner2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.7);
}

.hero h1, .hero h3, .btn-primary {
  position: relative;
  z-index: 1;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.hero-title {
  font-size: 2.8rem;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #6e00ff;
  border: none;
  font-size: 1.3rem;
  padding: 14px 30px;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(110, 0, 255, 0.5);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #5300cc;
  box-shadow: 0px 6px 14px rgba(83, 0, 204, 0.6);
}
